/api/src/script/files.json
/api/src/script/BY4741.json
/api/logs
/api/secret.ts
/gff
/api/utility/conf.json
/.vscode
/api/utility/.vscode
/api/utility/__pycache__
/api/conf.json
/frontend/conf.json
/api/src/conf.json
/frontend/src/conf.json
