.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basket-panel {
  box-sizing: border-box;
  width: 90%;
  border: solid 1px;
  padding: 20px;
  height: 470px;
}
.file-panel {
  padding: 20px;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
}
.project-basket {
  box-sizing: border-box;
  display:flex;
  width: 90%;
  border: solid 1px;
  height: 200px;
}